[2016-10-28 19:29] loosebazooka opened #4 "allow client lib generation from a URL"

[2016-12-11 20:32] Burtan opened #10 "Not available via maven?"
http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22com.google.cloud.tools%22

[2016-12-12 13:27] patflynn commented on #10
FYI @loosebazooka

@Burtan have you tried using the instructions for adding it to your build.gradle?  I think we've seen that the repo search can sometimes be out of date.

[2016-12-12 13:48] loosebazooka commented on #10
This is only available in sonatype snapshots at the moment.

On Dec 12, 2016 08:27, "Patrick Flynn" <notifications@github.com> wrote:

[2016-12-12 13:51] patflynn commented on #10
@loosebazooka
Does he need to add a special repository to make that work? It doesn't appear to be mentioned in the install instructions.

[2016-12-12 13:52] Burtan commented on #10
I tried the instructions and got an error that the endpoints plugin was not available. I'm not familiar with sonatype so any further instructions are appreciated.

[2016-12-12 13:55] loosebazooka commented on #10
I will update the instructions

On Dec 12, 2016 08:52, "Burtan" <notifications@github.com> wrote:

[2016-12-12 16:48] loosebazooka commented on #10
updated

[2016-12-12 16:48] #10 closed

[2016-12-13 10:56] Burtan opened #11 "Adding the client plugin to android application throws error"
Hi,

I've added the client plugin to my android application and running gradle now throws an error.

`apply plugin: 'com.google.cloud.tools.endpoints-framework-client'`

Adding the client plugin to my java war application works fine.

[2016-12-13 14:09] loosebazooka commented on #11
Yeah. There Android extensions are in progress. I'll have something
uploaded to snapshots later today with preliminary instructions

On Dec 13, 2016 05:56, "Burtan" <notifications@github.com> wrote:

[2016-12-14 20:55] loosebazooka commented on #11
Sorry this took longer than expected, had to figure out how to interact correctly with the android model. Instructions will go up tomorrow.

[2016-12-17 09:01] Burtan commented on #11
`endpointsServer project(path: ":server", configuration: "endpoints")`
It's working fine now

[2016-12-17 09:01] #11 closed

[2016-12-17 09:57] Burtan opened #14 "Update to newest endpoints version beta-12"
Hi,
please update the endpoints framework dependency to beta-12.
See:
https://github.com/cloudendpoints/endpoints-java/issues/29

[2016-12-17 10:36] loosebazooka commented on #14
Hopefully I can get reviews on #15 during the weekend, but in the meantime you can just force that version in the buildscript classpath, so the plugin is also forced to use it.

[code]

[2016-12-17 12:16] Burtan commented on #14
Thanks, I'll try that. I think that is the last issue for me now :-)

[2016-12-17 12:18] loosebazooka commented on #14
I think there's actually an issue there. Locating the webapp (or war)
directory seems to be malfunctioning

On Dec 17, 2016 13:16, "Burtan" <notifications@github.com> wrote:

[2016-12-17 13:45] Burtan commented on #14
Gradle sync now completes for me but building the android app results in an error:

[2016-12-17 22:40] loosebazooka commented on #14
If you do an "assemble" I think you'll get a better error message, I don't think the plugin is fully compatible yet with beta11/12. Hopefully the endpoints-tools issue mentioned in #15 is fixable.

[2016-12-18 10:58] Burtan commented on #14
Here is the error message I get with assemble:

[2016-12-30 09:09] Burtan commented on #14
The error message is gone with beta2 thanks

[2016-12-30 09:09] #14 closed

[2016-12-30 09:14] Burtan opened #17 "JavaClient changes"
Hi,
my android app with dependency on endpoints v2 now compiles but there seem to be some changes to the v1 client.

Objects don't use type Long but String (extraction from the discovery doc):

[code]

[code]

[2016-12-30 09:21] loosebazooka commented on #17
You should probably file this here : https://github.com/cloudendpoints/endpoints-java @tangiel might have a better idea of what's going on.

[2017-01-07 16:01] #17 closed

[2017-01-14 14:31] Burtan opened #20 "Using the server plugin with flexible environment"
Hi,
I've just tried to use the server plugin with an GAE java flexible environment. I'm getting the following error:

Error:Execution failed for task ':flexbackend:endpointsDiscoveryDocs'.

app.yaml
[code]

[2017-01-14 16:35] loosebazooka commented on #20
@tangiel any idea?

[2017-01-17 18:24] Burtan commented on #20
I think I could figure out for me. I was always using appengine-web.xml instead of app.yaml, but in the flexible [environment doc](https://cloud.google.com/appengine/docs/flexible/java/configuring-your-app-with-app-yaml), only app.yaml is mentioned. Additionally this gradle plugin shows "app engine standard environment" instead of "app engine flexible environment" even though you configure flex in

[2017-01-17 18:32] loosebazooka commented on #20
Right, for actual flexible environment applications, you're not expected to use the dev-appserver, you use the app server defined in your runtime (like jetty or whatever). Additionally, for an application that is detected to be a flexible style app, no server goals will be provided by the appengine plugin.

When using flex in appengine-web.xml, it is still considered an appengine standard style ap

[2017-01-17 18:34] Burtan commented on #20
It's an appengine app which I need to run on the flex environment because I need local filesystem access.

[2017-01-17 18:36] Burtan commented on #20
Ah ok. When defining app.yaml it's still asking for appengine-web.xml because I use appengine APIs.

[2017-01-17 18:39] Burtan commented on #20
Actually, the deployment is not working when just using the appengine-web.xml with flex being defined (it works with the old plugin, where I could create the staged app and then manually deploy with gcloud). I'm getting the following error:

[code]

[2017-01-17 19:28] loosebazooka commented on #20
@arouzrokh can confirm here, but I think that standard applications on flex environments was experimental and never went passed that. https://cloud.google.com/appengine/docs/flexible/java/migrating if you want to use flex, you're going to have to use the actual non-appengine specific api.

[2017-01-17 20:10] Burtan commented on #20
Ok, thanks

[2017-01-17 20:53] patflynn commented on #20
`<env>flex</env>  ` in your appengine-web.xml is indeed not the recommended way to use flex and will not have long term support.  But it should work currently.

you should be able to deploy using the new  [app-gradle-plugin](https://github.com/GoogleCloudPlatform/app-gradle-plugin)

[2017-01-17 21:00] Burtan commented on #20
But endpoints is supposed to be supported on [flexible environments in the long run](https://cloud.google.com/endpoints/docs/quickstart-app-engine)? Because it currently seems to depend on appengine-web.xml

[code]

[2017-01-17 21:02] loosebazooka commented on #20
endpoints-framework is a transition plugin for existing users of legacy endpoints, it's only built for standard appengine applications.

It is not recommended for new development.

[2017-01-17 21:04] Burtan commented on #20
Ok, now I'm a little bit confused. This new plugin is meant to be only for legacy endpoints (v1?).

[2017-01-17 21:05] loosebazooka commented on #20
Right, the document you linked to is for endpoints v2, it doesn't require any special processing from the gradle tooling.

endpoints-framework-gradle-plugin is only for v1 as a mechanism to support existing users of endpoints v1 with newer appengine tooling.

[2017-01-17 21:18] Burtan commented on #20
So I guess this guide is still refering to v1?
https://cloud.google.com/endpoints/docs/frameworks/java/calling-from-android
Because it is on the new documentation page.

[2017-01-17 21:23] loosebazooka commented on #20
Yes, you are correct. @arouzrokh, @tangiel what do we want to do about this documentation?

[2017-01-17 21:24] Burtan commented on #20
Actually the whole https://cloud.google.com/endpoints/docs/frameworks/java/* part looks to be v1? I think it is very confusing to mix documentation about v1 and v2 at one place.

[2017-01-18 17:16] loosebazooka commented on #20
@lesv for documentation?

[2017-01-26 00:37] redi-wassere opened #21 "Generate the discovery docs in rpc format"
I just converted from the gradle-appengine-plugin to use a combination of the new app-gradle-plugin and endpoints-framework-gradle-plugin. I am using appengine with endpoints as a backend for my ios app.

In the past, I would generate the rpc discovery docs and then use the Google ServiceGenerator. Will this plugin provide the rpc discovery doc or do I need to update now to use https://github.com/

[2017-01-26 00:45] loosebazooka commented on #21
@tangiel

From what I know, there is no more rpc discovery doc generation. I believe you will now need to use the rest doc for client generation. @tangiel should have a better idea though.

[2017-01-26 00:48] tangiel commented on #21
Yes that's correct, RPC generation has been removed in the new framework. You should update to use the new Objective C REST client, as you suggested.

[2017-01-26 01:57] daswass commented on #21
@tangiel, using the rest discovery doc, Im having an issue with the new ServiceGenerator. It looks like the discovery doc generated is missing a format tag where it is expected. Please see the linked issue here: https://github.com/google/google-api-objectivec-client-for-rest/issues/85

After manually updating the discovery doc for all double values (type is number - add missing format key and doub

[2017-02-02 03:17] daswass commented on #21
Has anybody gotten a chance to take a look at the generator? Is there another group that works on the actual generator code? Thanks in advance.

[2017-02-02 13:19] patflynn commented on #21
@redi-wassere @tangiel Endpoints team should know where the generator code lives.

[2017-02-02 13:33] daswass commented on #21
My mistake, its the generated discovery doc that is the issue. Unless I am missing a flag or something, I believe there is an issue with discovery docuement generation, where it doesn't create the '"format": "double' for double fields. creditAmount below should have the format tag. See:

[code]

[2017-03-06 23:57] frankyn opened #22 "Set the directory where Generated Client is located"
Hi,

Is there a way to set the path of the generated client is located?

There's a parameter for this in the [maven version of this plugin](https://github.com/GoogleCloudPlatform/endpoints-framework-maven-plugin).

Maven-example:
[code]

Thank you!

[2017-03-07 00:02] loosebazooka commented on #22
Looks like that configuration parameter is final in gradle and cannot be modified at the moment. Is this for the docs?

[2017-03-07 01:52] #22 closed

[2017-03-16 07:29] UweTrottmann opened #30 "App Engine Gradle plugin warns about application tag usage"
Endpoints discovery docs generation (server side) requires the `<application>` tag to be used in the `appengine-web.xml` file. However, the new [App Engine Gradle plugin](https://github.com/GoogleCloudPlatform/app-gradle-plugin) warns that in a future version deploying with `<application>` or `<version>` present will fail.

[code]

Searching for this log output did not turn up anything in the Grad

[2017-03-20 13:48] patflynn commented on #30
@loosebazooka

Hi @UweTrottmann! Thanks for the report.  Are you sure that doc generation doesn't work without the `application` element? I thought I'd tried this a while back and the only thing broken was the devappserver needed <version> or it would fail. Deployments worked fine though.

[2017-03-20 14:13] UweTrottmann commented on #30
Yes. If the application tag is missing, when running the `endpointsDiscoveryDocs` task the generated `<endpoint>-rest.discovery` file will use a **default value of `myapp`** used for `baseUrl` and `rootUrl`:
[code]

Client side, endpoints library generation will then use that wrong root URL:
`public static final String DEFAULT_ROOT_URL = "https://myapp.appspot.com/_ah/api/";`

[2017-03-20 14:30] patflynn commented on #30
@loosebazooka how do our new endpoints plugins handle this?

[2017-03-20 19:04] loosebazooka commented on #30
Yeah this is a bug. I'll see if we can pass the project into the endpoints generation tool. If not, we'll push a change to endpoints-framework-tools to do it.

[2017-03-20 19:07] loosebazooka commented on #30
The workaround is to specify the root-url explicitly when using the client library
[code]

[2017-03-22 13:43] Burtan opened #31 "Client generation from discovery doc is not added to sources on Android Studio 2.3"
Hi,
I have a module that creates an endpoints java client api from a discovery doc which I'm using in an IntelliJ IDEA 2016.3.5 project and an Android Studio 2.3 project. In both projects, the client java files are correctly generated but only for the IntelliJ project, the generated java files in the build folder are added to the sources of the module so that they can be imported and used.
Any ide

[2017-03-22 15:40] loosebazooka commented on #31
Right, it has something to do with how android allows generated source directories. It looks like I forgot to document this. (this is not true)

~~but after you apply the endpoints-framework-client, you need to apply endpoints-framework-android-client to add in the android extensions that deal with android related shenanigans.~~

[code]

~~I should probably just auto apply the endpoints-framework-

[2017-03-22 16:44] Burtan commented on #31
When trying to add:
```apply plugin: 'com.google.cloud.tools.endpoints-framework-android-client'```
I get:
```Error:(3, 0) Extension with name 'android' does not exist. Currently registered extension names: [ext, defaultArtifacts, reporting, endpointsClient]```
And my module is plain java and not the app module but just a library, if that is important.

[2017-03-22 16:57] loosebazooka commented on #31
yeah I think I gave you bad information. We already auto apply the android extensions for android projects when needed. :\

I wonder if android studio just doesn't allow this stuff in general unless it's in their arbitrarily defined generated sources directory.

[2017-03-22 17:01] loosebazooka commented on #31
Does the command line build fail?

[2017-03-22 17:03] Burtan commented on #31
The command line build succeeds and I can even run the app but the editor still complains about non-resolved imports. So I guess it's a synchronization issue between the IDE and gradle.

[2017-03-22 17:10] loosebazooka commented on #31
Ugh, that's unfortunate. Can you try switch the generatedSrcDir to something that android studio likes?

[code]

[2017-03-22 19:26] loosebazooka commented on #30
@tangiel can we add this as a configurable parameter in the tooling?

[2017-03-23 00:35] Burtan commented on #31
The problem remains with the custom source dir

[2017-03-23 19:36] loosebazooka commented on #31
I'm not sure, can you make it an "android-library" instead of a java library? Presumably then we'll register the correct generated source configuration.

Otherwise I would ask the android team how to correctly register generated source with the IDE from a java library?

[2017-03-27 12:45] Burtan commented on #31
[code]
throws
[code]

[code]
throws
`Error:(4, 0) Cannot set property 'genSrcDir' on null object`

[2017-03-27 21:05] loosebazooka commented on #30
@UweTrottmann I think you're going to have to leave the applicationid in for now (even though it is ignored for deployment) to create the client library the way you want. We'll mark this as a bug, and try to fix as soon as the endpoints team gets back to us.

[2017-03-28 06:37] UweTrottmann commented on #30
@loosebazooka Not a problem. Just wanted to give you a heads up about the warning.

[2017-03-28 18:45] loosebazooka commented on #31
Alright, looks like we didn't handle com.android.library correctly, but when fixing that, I found another bug where the server side wasn't generating artifacts required for android clients because of some madness in the android plugin. This should all be fixed now. I'll push an update soon.

[2017-03-28 20:43] loosebazooka commented on #31
@Burtan This should be fixed in the 1.0.0-beta7 release that just went out.

[2017-04-01 10:28] Burtan commented on #31
Actually the plugin still throws the same errors.

[2017-04-24 17:20] Burtan commented on #31
Any progress?

[2017-04-24 17:25] loosebazooka commented on #31
Which error are you continuing to see?

[2017-04-26 20:33] loosebazooka commented on #31
@Burtan I checked again with `1.0.0-beta7` and this works with modules that are explicitly 'com.android.library' not regular java plugins.

I don't know if there's even a way to register code generation tasks with android for non-android libraries modules.

[2017-04-26 21:16] loosebazooka commented on #30
@UweTrottmann This should be fixed by #37 and in the beta8 release. So now you can explictly define the hostname "myapp.appspot.com" in the gradle config to override the default.

[2017-04-28 11:12] Burtan commented on #31
I've tried again with 1.0.0-beta8:

[code]
throws:
[code]

So I've added

[code]
but the error remains

[2017-04-28 11:52] UweTrottmann commented on #30
@loosebazooka Yeap, works as documented. 👍

[2017-04-28 15:13] loosebazooka commented on #31
Oh I see, it looks like it's this line? https://github.com/GoogleCloudPlatform/endpoints-framework-gradle-plugin/blob/master/src/main/groovy/com/google/cloud/tools/gradle/endpoints/framework/client/AndroidEndpointsClientPlugin.groovy#L35 It's weird that it wouldn't work for you, but it works for me. Any chance you could send over a mimized version of the project. There's no reason that `endpointsC

[2017-04-28 16:33] loosebazooka commented on #31
ooh oh, I see. Yeah don't apply `endpoints-framework-android-client` directly. That's automatically applied by the `endpoints-framework-client` if android is detected.

So you should be doing
[code]

[2017-04-28 17:16] loosebazooka commented on #30
I'll go ahead and close this issue now then.

[2017-04-28 17:16] #30 closed

[2017-04-28 17:17] loosebazooka commented on #4
looks like we're not gonna do this.

[2017-04-28 17:17] #4 closed

[2017-04-28 17:18] loosebazooka commented on #21
@tangiel can you take a look at this?

[2017-04-28 17:19] tangiel commented on #21
@loosebazooka the format issue should be fixed already in the last few versions of the framework.

[2017-04-28 17:24] Burtan commented on #31
[code]

This configuration now works on Android Studio with an empty AndroidManifest.xml for the library. But it doesn't work for IntelliJIDEA anymore, because my project there relies on the jar task from the java plugin. Therefore it would be a much cleaner solution if Android Studio could deal with a java endpoints library.

[2017-04-28 17:41] loosebazooka commented on #31
I've started a bug there regarding generated source from a plain java module, please follow up on the android studio issue tracker : https://issuetracker.google.com/issues/37778124

[2017-04-28 17:41] #31 closed

[2017-04-28 17:42] loosebazooka commented on #21
Okay thanks! Closing this for now.

[2017-04-28 17:42] #21 closed

[2017-04-28 17:43] daswass commented on #21
Yes, looks good to me! Thanks all

[2017-04-28 18:00] Burtan commented on #31
Thanks, I'll observe it.

[2017-05-23 23:40] g-ericso opened #45 "Execution failed for task ':{project-name}:endpointsDiscoveryDocs'"
Followed the instruction from README.md. And I am getting the following error:

[code]

The following is the partial build.gradle code.
[code]

[2017-05-24 14:08] patflynn commented on #45
Hi @g-ericso! Thanks for the report.

Could you also include the exact terminal command you used to start the task?

[2017-05-24 16:36] g-ericso commented on #45
Yes, sure.
[code]

[2017-05-24 17:02] loosebazooka commented on #45
usually this error
[code]
indicates some kind of mismatch of gauva versions. Do you have a parent project that is applying something in the buildscript classpath? or perhaps another plugin's classpath jar that we are not aware on.

It's building the endpointsClientLibraries as a consequence of defining the artifact for that in the plugin. I need to re-examine this and see if there's a way to bypas

[2017-05-24 17:34] g-ericso commented on #45
I also tried to remove the dependency of "guava" (seems we are not using that). I am still getting the same error.

[2017-05-24 17:38] g-ericso commented on #45
Btw, I feel it is a bit challenging to integrate App Engine with cloud endpoint v2 or other Google Modules. It will be better to have more examples in the repo or some other sites. I think Cloud Endpoints is a great idea. If it is easier to integrate with existing App Engine application, this can benefit more developers in the world. Having different gradle or maven modules is really confusing. Th

[2017-05-24 19:49] loosebazooka commented on #45
Sorry, I should clarify, that it is the buildscript classpath that this error stems from :

[code]

Do you have any other build.gradle files in this project or is this the only one? I've only seen this issue when another dependency is bringing in an older version of guava.

[2017-05-24 20:01] g-ericso commented on #45
Thanks for your previous feedback. Actually, I was running gradle build in the root project.

After I changed to run the build inside the sub-project which is for App Engine, I don't see the problem above. But I am getting this error in runtime after the app engine start up.

[code]

[2017-05-24 20:38] loosebazooka commented on #45
It's quite difficult to debug this from just error messages, I suggest you either try to dig deeper into the issue on your own machine or send a minimized version of your project which reproduces the error to debug here. Maybe also try a clean before running, perhaps there are so old dependencies sticking around in the build directory.

Something else though, just looking through your build.gradle

[2017-05-24 20:40] g-ericso commented on #45
Yes, you are right. I think that's not necessary. Removed.

[2017-05-24 20:42] g-ericso commented on #45
Just added these dependencies:
[code]
The previous error is gone. But I am getting new error:
[code]

[2017-05-24 20:45] g-ericso commented on #45
Ooops.. seems it is working fine after removing that dependency.

[2017-05-24 20:45] loosebazooka commented on #45
you don't want those dependencies with the new tooling.

The missing class from the original can be added in with the
[code]
dependency, but you shouldn't need to have the tooling depedency as part of your project.

[2017-05-24 20:50] g-ericso commented on #45
Thanks everyone. My app engine application finally runs.

Here is my final dependencies:
[code]

Hope this helps other people get start with GAE + cloud endpoint.

[2017-05-24 20:50] #45 closed

[2017-05-26 00:37] frankyn opened #46 "[Feature Request] Use gcloud tool project id default for hostname"
Hi,

It would be helpful for the default Project ID for hostname `project-id.appspot.com` to come from the gcloud tool instead of the plugin configuration.

[2017-05-30 15:26] patflynn commented on #46
I think that would work pretty well in lots of cases, but I'm concerned that users who have lots of projects and frequently switch default gcloud projects will be bitten by this.  It seems generally poor form to have a hidden and obscure source of input into the build.

[2017-05-30 21:51] frankyn commented on #46
@patflynn, I don't mean for this request to be the only way for input of a hostname. I'm pushing to have it automatically filled in using the gcloud settings or configured/set inside in the build.gradle. I can update the sample and plugin documentation to call this functionality explicitly.

Does this sound reasonable?

[2017-05-31 13:07] patflynn commented on #46
I'm not sure at this point. Curious to hear what @loosebazooka thinks. (although he's out of the office for a few weeks).

Not sure I understand what you mean by 'I can update the sample and plugin documentation to call this functionality explicitly.'

[2017-05-31 13:17] loosebazooka commented on #46
The endpoints plugin has no knowledge of gcloud. I would just use the
"hostname" parameter for now in the build.gradle. perhaps this is a problem
we should look at some more though.

On May 31, 2017 08:07, "Patrick Flynn" <notifications@github.com> wrote:

[2017-05-31 19:20] frankyn commented on #46
@patflynn Oh okay, it's not urgent and we can talk more about it when @loosebazooka gets back. Follow-up to your last statement. I currently use "hostname" in the [migration sample](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/appengine/endpoints-frameworks-v2/migration-example/build.gradle#L77). The main difference with this FR is the `hostname` line would look similar to:

[2017-07-26 19:20] Burtan opened #47 "Plugin in kotlin environment"
Hi,

I'm experimenting with Android Studio 3.X and Kotlin. I've also converted some Java code which used an API generated by this plugin from a discovery document. However, after conversion the imports are not resolved anymore in the Kotlin code. Any ideas?

[2017-07-26 19:33] loosebazooka commented on #47
Oh huh, I'm not really sure. If you haven't already, can you check if resolution is happening in the Java code? There have been instances in the past when a dependency resolution bug in preview versions of Android Studio manifests itself in this manner.

[2017-07-27 08:16] Burtan commented on #47
I'm using the gradlew command in the terminal, so this shouldn't be affected by AS. My Java branch is building just fine. In the kotlin branch the build folder also contains the endpointsClientLibs but it does not seem to be recognized correctly.
The gradle file for both branches is the same except for the kotlin dependencies

[2017-07-27 15:25] loosebazooka commented on #47
I'm having trouble visualizing this. Can you provide a small sample or something.

[2017-08-04 12:43] gbhall opened #48 "Unexpected method parameter order for generated client library"
I've migrated to this plugin from the legacy plugin, however some calls to my API are now broken in my Android project due to some method parameters being reordered.

Take this endpoint example:
[code]

Calling the endpoint before had the order:
`Double latitude, Double longitude, Integer radius`.
Now the order is:
`Double latitude, Integer radius, Double longitude`.

Is there an ordering logic be

[2017-08-06 11:47] Burtan commented on #47
I've created a small Android project. It has an Android module and a java module containing the endpoints API generated from a discovery file, which I've taken from the echo sample.
https://github.com/Burtan/EndpointsV2KotlinTest

[2017-08-10 13:28] Burtan commented on #47
The problem remains with AS3.0-beta1

[2017-08-10 14:26] loosebazooka commented on #47
Haven't had a chance to look at this yet, but thanks for the sample, I'll check it out today.

[2017-08-10 18:11] loosebazooka commented on #48
@tangiel any idea here?

[2017-08-10 19:20] loosebazooka commented on #47
I think I figured it out. We're really just designed to work with Java applications and the Kotlin plugin and Endpoints plugin were having some friendship issues.
1. So `compileKotlin` was happening before the endpoints client library source was generated, this can be fixed by adding a simple `dependsOn` on all compile tasks instead of just the `compileJava` task as we have now : https://github.co

[2017-08-10 20:31] tangiel commented on #48
@gbhall What version of the frameworks are you using?

[2017-08-10 23:16] gbhall commented on #48
@tangiel For my `app/build.gradle`:
[code]

[2017-08-10 23:19] tangiel commented on #48
I don't see an explicit dependency on `endpoints-framework` in there. Can you post that?

[2017-08-10 23:22] gbhall commented on #48
@tangiel for my backend module dependencies?

For `backend/build.gradle` each dependency version I am using is `+`:
[code]

[2017-08-11 14:29] loosebazooka commented on #48
Oh also the tooling (endpoints-framework-gradle-plugin) comes from the plugin, we use 2.0.7

[2017-08-11 14:51] #47 closed

[2017-08-11 16:33] loosebazooka commented on #47
This will be in the next release.

[2017-08-12 01:56] gbhall commented on #48
@loosebazooka Are you asking me to explicitly specify version `2.0.7` in my `build.gradle` files, or was that information for @tangiel?

[2017-08-12 02:05] loosebazooka commented on #48
Information for @tangiel

On Aug 11, 2017 21:56, "Gareth Blake Hall" <notifications@github.com> wrote:

[2017-08-12 02:07] gbhall commented on #48
@loosebazooka Thanks for the clarification

[2017-08-14 19:34] Burtan commented on #47
I see 1.0.1 is released since 3 days, but not on maven yet. Did you forget it? It was usually online very fast, that's why I ask.

[2017-08-14 19:39] loosebazooka commented on #47
The release PR is still pending, I haven't pushed to maven central yet. I'll see if I can get it out today or tomorrow.

[2017-08-22 20:10] tangiel commented on #48
@gbhall sorry for the slow reply. Can you run on devserver and go to `http://localhost:8080/_ah/discovery/v1/apis/API-NAME-HERE/API-VERSION-HERE/rest`, search for `listNearbyX`, and paste the JSON object value here? It should include things like path, parameters, etc.

[2017-08-26 10:32] gbhall commented on #48
No problem. Just a FYI the URL provided didn't work, what did work was:
localhost:8080/_ah/`api/`discovery/v1/apis/API-NAME-HERE/API-VERSION-HERE/rest

@tangiel:
[code]

[2017-08-27 21:25] mertakdut opened #52 "Execution failed for task ':backend:endpointsDiscoveryDocs'"
Hello,

Just trying to migrate an android app & gcloud module to 2.0 endpoints. I am getting the following error:

What went wrong:
Execution failed for task ':backend:endpointsDiscoveryDocs'.
Could not initialize class com.google.api.server.spi.tools.GenClientLibAction

[.gradle file for the module.](https://www.dropbox.com/s/loperx406zoine5/build.gradle?dl=0)
[top level .gradle file](https://www

[2017-08-28 15:20] mpoehler opened #53 "NoClassDefFoundError on local DevServer when using Java8 runtime"
Hi,

I have extracted a small project to demonstrate the behaviour here: https://github.com/mpoehler/endpointsAppEngineJava8Test

Just clone it and run it with `gradle appengineRun` and it will fail with the following Exception:

java.lang.NoClassDefFoundError: com/google/appengine/repackaged/org/codehaus/jackson/node/ObjectNode
        at java.lang.Class.getDeclaredConstructors0(Native Method)

[2017-08-28 15:26] loosebazooka commented on #53
@tangiel is this the same thing we've been seeing? @ludoch any idea?

[2017-08-28 16:49] frankyn commented on #52
Hi @mertakdut,

I didn't see anything that stood out in either build.gradle file that could help me debug. Could you please put together minimal example that reproduces the error?

Thank you!

[2017-08-28 17:19] tangiel commented on #53
Yes, it is the same thing.

[2017-08-29 00:06] mertakdut commented on #52
https://www.dropbox.com/sh/82n3fkql24pgjeh/AADOBto8EwjzUg-JWF-Lib8ya?dl=0

[2017-08-30 01:28] frankyn commented on #52
I had to comment out Constants and :common compile from build.gradle to make this work correctly. Is this the expected minimal reproduction? I was able to make it work once I commented code that use Constants. I added a diff for more clarity.
[diff.txt](https://github.com/GoogleCloudPlatform/endpoints-framework-gradle-plugin/files/1262184/patch.txt)

[2017-08-30 13:10] mertakdut commented on #52
That's weird. Why would a java library make it work incorrectly. I was using the library to share constants and methods between frontend and backend.

[2017-08-30 13:25] mertakdut commented on #52
Still having the same error even though I removed the module "common".

[2017-08-30 16:50] frankyn commented on #52
@mertakdut could you run `'gradle :backend:endpointsDiscoveryDoc -d` and send the output?

[2017-09-01 08:21] mpoehler commented on #53
Is there a workaround?

[2017-09-05 21:23] patflynn commented on #53
ping @tangiel @loosebazooka

[2017-09-05 21:46] loosebazooka commented on #53
@tangiel is this just a problem with the devappserver? Does moving to an older version of the cloud sdk fixt this?

[2017-09-05 21:48] tangiel commented on #53
It seems so, given the reports. I would guess the older SDK works since this is a Java 8 issue.

[2017-09-05 22:14] loosebazooka commented on #53
@ludoch we're seeing java8 specific issues on dev appserver with endpoints.

[2017-09-06 08:47] mpoehler commented on #53
I updated my example https://github.com/mpoehler/endpointsAppEngineJava8Test with the latest endpoint dependencies to 2.0.8 / 1.0.5 and tried 1.9.54 and 1.9.55 behaviour.

It turns out that the latest version of the endpoints-framework and endpoints-management-control-appengine are not referencing the latest version of the sdk, but forcing 1.9.55 doesn't change anything.

I added an explicit depen

[2017-09-06 17:33] loosebazooka opened #54 "allow basepath parameter"
Maven plugin has this, add to gradle plugin.
https://github.com/GoogleCloudPlatform/endpoints-framework-maven-plugin/pull/35
https://github.com/GoogleCloudPlatform/endpoints-framework-maven-plugin/pull/39

[2017-09-06 22:47] mertakdut commented on #52
https://www.dropbox.com/s/u8oyd0n3qk45248/Output.txt?dl=0

Thanks in advance.

[2017-09-11 14:09] #54 closed

[2017-09-12 18:49] coollog opened #56 "Change status badge from experimental to stable."
Mirroring https://github.com/GoogleCloudPlatform/endpoints-framework-maven-plugin/issues/28.

[2017-09-12 19:06] #56 closed

[2017-09-14 13:16] mpoehler commented on #53
[The Error still exists using the latest versions:](https://github.com/mpoehler/endpointsAppEngineJava8Test/commit/d7b46900afc398a556d97c73fbe34aad9083d34f)

- Google Cloud SDK 171.0.0 (2017-09-13)
- Java SDK to version 1.9.56
- endpoints-framework-gradle-plugin to 1.0.2

[2017-09-14 14:31] loosebazooka commented on #53
@davidjn @ludoch issues with devappserver?

[2017-09-14 14:59] ludoch commented on #53
Will take a send look.

Not sure if related yet, but I see old refences of appengine (1.9.40) in
https://github.com/cloudendpoints/endpoints-management-java/blob/8c1acb07581706a57ffd55937fb9451a8b74ca4a/gradle.properties#L21

On Thu, Sep 14, 2017 at 7:31 AM, Appu Goundan <notifications@github.com>
wrote:

[2017-09-14 14:59] ludoch commented on #53
@tangiel <https://github.com/tangiel> can you help as well?

On Thu, Sep 14, 2017 at 7:59 AM, Ludovic Champenois <
ludovic.champenois@gmail.com> wrote:

[2017-09-14 15:43] ludoch commented on #53
First thing is in endpoints-framework to stop relying on the API jar 1.9.49
and this is the first bug that we need to fix in the endpoints library

On Thu, Sep 14, 2017 at 7:59 AM, Ludovic Champenois <
ludovic.champenois@gmail.com> wrote:

[2017-09-14 15:44] ludoch commented on #53
When I remove the dep to 1.9.49, I see a different error:
java.lang.ClassNotFoundException:
com.google.appengine.repackaged.com.google.api.client.http.javanet.NetHttpTransport

On Thu, Sep 14, 2017 at 8:42 AM, Ludovic Champenois <
ludovic.champenois@gmail.com> wrote:

[2017-09-14 15:47] ludoch commented on #53
https://github.com/cloudendpoints/endpoints-java/blob/b07263b68c75f1862bd1dc5f845d3352638f5b64/gradle.properties#L11

On Thu, Sep 14, 2017 at 8:43 AM, Ludovic Champenois <
ludovic.champenois@gmail.com> wrote:

[2017-09-14 18:23] ludoch commented on #53
Ok, I filed an internal bug on endpoints product. (https://b.corp.google.com/issues/65677807 for googlers)
We understand the issue now and will fix it as soon as possible.
It is that the GAE SDK jar in lib/opt/tools/appengine-local-endpoints/v1/appengine-local-endpoints.jar
does not included needed repackaged classes and it should do that.
a jar cannot depend on other jars repackaged classes, it h

[2017-09-30 05:29] jirungaray commented on #52
I'm having the same issue migrating to v2 using Android Studio 3

[2017-10-01 11:49] mpoehler commented on #53
I updated my [testproject](https://github.com/mpoehler/endpointsAppEngineJava8Test/commit/d5b256c996c75c7b22b8ad8bafa2dcc14ae3af7d) to the latest versions
- Google Cloud SDK to 173.0.0 (2017-09-27)
- Java SDK to version 1.9.57 (2017-09-25)

It seems the bug isn't fixed with the new version. Please, can any Googler check the internal bug https://b.corp.google.com/issues/65677807 and can give Feedba

[2017-10-01 18:01] medvedev opened #59 "Feature: Scan for service classes inside servlets annotated with @WebServlet (ServletAPI v3+)"
Hi,

Servlet API v3 allows annotations-only config with "WebServlet" and "WebInitParam" annotations on servlet class.

Currently endpoints-framework-plugin does not support scan of classpath to extract metadata from "WebServlet" annotations and use it inside endpointsOpenApiDocs task.

I've added some code that introduces described functionality. [Here it is](https://github.com/medvedev/endpoints-

[2017-10-02 16:37] patflynn commented on #59
Thanks @medvedev for the detailed issue.  We're considering this and @loosebazooka should get back to you soon.

[2017-10-02 17:16] frankyn commented on #52
@loosebazooka and @patflynn I lost track of this issue. Could you all pick this up?

[2017-10-03 07:08] medvedev opened #62 "Code duplication in server/Generate* classes"
All three classes in package "com.google.cloud.tools.gradle.endpoints.framework.server.task" have a lot in common and may be updated to follow [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself) principle.

[2017-10-03 07:39] medvedev commented on #59
@patflynn, A little more background.
I'm relatively new to appengine and am not sure if I've picked right place to add annotations scan.
The initial Issue I've faced was:
When I create new appengine SE app with java8 and servlet 3.0 annotations (without web.xml) and run any endpoints generate task from this plugin, I get "usage" output (and "BUILD SUCCESSFUL" in the end!). That's confusing IMO.
So

[2017-10-03 13:26] patflynn commented on #59
@loosebazooka to comment.

[2017-10-03 14:49] medvedev opened #64 "Feature request: Deploy openApi json to appengine with gradle"
Hi,
I guess it's a good feature to deploy OpenApi spec to GAE with Gradle, in the way similar to "appengineDeploy*" tasks work for "general" gradle appengine plugin.
I.e. I'd like to have a gradle replacement to "gcloud service-management deploy {path to openApi.json}"

[2017-10-03 15:45] medvedev opened #65 "Feature: add API validation for tasks"
Please feel free to forward this issue to an appropriate repository\project\team.
Here's one more confusing scenario.
I've renamed one named parameter in java API class and added hyphen "-" in the middle of the name. So it looked like:
`public void apiMethod(@Named("foo-bar") String fooBar)`

I got no issues when openApi.json was generated or when app was deployed to appengine, but was not able to

[2017-10-04 22:46] patflynn commented on #64
is this necessary for app engine standard?

[2017-10-04 22:48] patflynn commented on #65
@tangiel thoughts on this?  do you know where the FR should live?

[2017-10-05 00:47] tangiel commented on #65
I believe validation is done, it just doesn't check this case for some reason. This would be a bug to file under https://github.com/cloudendpoints/endpoints-java.

[2017-10-05 11:39] medvedev commented on #64
@patflynn I don't have enough information to answer your question.
At the moment I can't say if there's any difference between following cases:
1) App is deployed with `appengineDeploy` gradle task
2) App is deployed by `appengineDeploy` followed API deploy
3) API is deployed first, then App is deployed with `appengineDeploy`

Assuming that:
- "App" is GAE SE app with Endpoints features  (Endpoint

[2017-10-06 07:23] medvedev commented on #65
Thank you @tangiel
I've created a new issue [(#107)](https://github.com/cloudendpoints/endpoints-java/issues/107) for Endpoints framework.
This one can be closed now.

[2017-10-06 07:23] #65 closed

[2017-10-06 09:12] medvedev commented on #64
What I've observed so far: API deployment (Deployment history section), endpoints (in the bottom of overview) and stats are not visible in Endpoints WEB UI (https://console.cloud.google.com/endpoints) until `gcloud service-management deploy ....` is executed.
So, "appengineDeploy" alone does not have full endpoints support for appengine SE.

[2017-10-06 18:50] patflynn commented on #64
@tangiel

[2017-10-07 16:45] DaveMG3 opened #66 "With Framework V2, trying to get an instance of EntityManagerFactory to be used with endpoint gives java.lang.NoClassDefFoundError"
Hi,
Uploading my backend to app engine servers after updating my project with Framework V2 gives me a java.lang.NoClassDefFoundError when i try to access to some instance of EntityManagerFactory.
I have a class EMF that i call :
`
 public final class EMF {

	private static final EntityManagerFactory emfInstance = Persistence
			.createEntityManagerFactory("transactions-optional");

	private EMF()

[2017-10-09 14:49] loosebazooka commented on #66
@tangiel ?

[2017-10-09 17:45] tangiel commented on #64
It's up to you guys if you want to support this command, but it is not strictly necessary. This refers to the management library, which are separate from the core framework library, which is what this plugin is intended to support.

[2017-10-09 17:52] tangiel commented on #66
Is this an error when using App Engine or dev server?

[2017-10-09 17:53] patflynn commented on #64
@loosebazooka

It doesn't sound totally unreasonable. However it does sound that we may want similar functionality for Endpoints v2 users who aren't using the framework.

[2017-10-09 18:05] davemg3 commented on #66
It appeared when using App engine on cloud. My servlets are ok but not my endpoints.

[2017-10-09 19:38] tangiel commented on #66
Can you show your web.xml?

[2017-10-09 20:21] davemg3 commented on #66
Ok here below 👍 :

    <web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        version="2.5"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <filter>
        <filter-name>ObjectifyFilter</filter

[2017-10-09 20:31] davemg3 commented on #66
I tried to go back to V1 endpoint but the update in backend dependencies cause now duplicate file exception  for all files com/google/appengine/repackaged/org/apache/commons/codec/language/....txt found it seems in appengine-api-1.0-sdk and also in appengine-endpoints dependencies.
 (which is strange given that i import only com.google.appengine:appengine-endpoints:1.9.56' which itself has a depen

[2017-10-09 21:47] tangiel commented on #66
Ah, I was a little thrown off. It's not `SystemServiceServlet` logging the error, but `SystemService`, which is totally fine. So it seems somehow your `EMF` class is not being included in your app deployment. Have you done a clean build since the migration? If not, try that. Otherwise, you need to double check that your app is being packaged correctly.

[2017-10-09 22:14] davemg3 commented on #66
What do you mean by i need to doublecheck my app is packaged correctly?what is the process for that?...cause already  i did so many restart of AS, re-install of gradle, clean, invalidate caches and build either by android studio or command...for server side the deployment on app engine by the command is successful ...but  even if the client build is marked as successful, no apk is deployed on devi

[2017-10-09 22:50] tangiel commented on #66
If you do a command line `gradle build`, then you should be able to find the EMF class in your Endpoints app's `build` directory. There should be a directory containing your web app, and EMF should either be in `WEB-INF/classes` or inside of a JAR in `WEB-INF/lib`.

[2017-10-09 23:25] davemg3 commented on #66
Indeed it in the following red classed 👍 ...but still exception on app engine server
i did clean, build, gradlew endpointsClientLibs and gradlew appengineDeploy

[2017-10-09 23:25] davemg3 commented on #66
![image](https://user-images.githubusercontent.com/32598581/31362737-581fbf1e-ad5a-11e7-839e-6d86d3bd5b11.png)

[2017-10-09 23:40] tangiel commented on #66
Can you also double check that there's not an inner stack trace for the `NoClassDefFoundError`? It actually looks like the `EMF` class is found, it just can't be initialized. Which likely means something is wrong emfInstance initialization.

[2017-10-10 00:38] jirungaray commented on #52
any updates? I have several projects on hold because of the migration to V2

[2017-10-10 03:49] jirungaray commented on #52
After a lot of trial and error I found out the issue is caused by the Firebase Performance plugin. Hope it helps.

[2017-10-10 06:37] frankyn commented on #52
@mertakdut I believe your code is using a constant that isn't defined, but I'm not sure. Do you have an update since your last post? Thanks for your input @jirungaray.

[2017-10-10 06:37] frankyn commented on #52
follow-up for @jirungaray: What was the issue you experienced and how did you fix it?

[2017-10-10 08:26] mpoehler commented on #53
This is fixed with Google Cloud SDK 174.0.0 (2017-10-04).

Thanks to everybody involved!

[2017-10-10 08:26] #53 closed

[2017-10-10 08:29] mpoehler commented on #66
It is not related to #53 . #53 only occurs on the devserver and is fixed with the latest Google Cloud SDK version (174.0.0) you are already using.

[2017-10-10 13:32] davemg3 commented on #66
@tangiel , i dont see how to get more log from google console...otherwise i got the same issue for all endpoints or servlets calling this entitymanagerfactory. Is there a way to get more outputs?

`
2017-10-10 (15:09:52.925)
Uncaught exception from servlet
java.lang.NoClassDefFoundError: Could not initialize class com.example.staffbeta1.EMF
at com.example.app.CustomContactImageEndpoint.getEntityMa

[2017-10-10 13:55] davemg3 commented on #66
Something which can be useful ; gradle tells me Some files were skipped. Pass `--verbosity=info` to see which ones (see log below). It seems all files in web-inf are skipped during deployment  and gradle indeed now states :

[deployment log 15.47.59.096000.log](https://github.com/GoogleCloudPlatform/endpoints-framework-gradle-plugin/files/1372360/deployment.log.15.47.59.096000.log)

[2017-10-10 14:16] davemg3 commented on #66
[deployment 16.45.18.098000.log](https://github.com/GoogleCloudPlatform/endpoints-framework-gradle-plugin/files/1372356/deployment.16.45.18.098000.log)

So i added in my build

You can see in my log all class with endpoint and servlet in WEB-INF/classes seem to be uploaded but not the WEB-INF/lib .jar
so now i have consequently other different exception thrown as ;

[code]
[code]

[2017-10-10 14:54] jirungaray commented on #52
@frankyn I posted a more detailed [stackoverflow question](https://stackoverflow.com/questions/46514262/google-cloud-endpoints-migrating-to-v2-execution-failed-for-task-backendend) .
Basically, whenever i tried to run an App Engine related task on gradle ( endpointDocs, deployment, run, etc) I got the following error:
`java.lang.NoClassDefFoundError: Could not initialize class com.google.api.serve

[2017-10-10 15:38] patflynn commented on #66
@DaveMG3 Are you using Objectify and JPA in the same application?

[2017-10-10 15:41] patflynn commented on #52
@loosebazooka can you try to replicate and diagnose this issue?  We should document a working configuration with both plugins.

[2017-10-10 15:41] patflynn commented on #52
@loosebazooka we should also post a followup to the stackoverflow question once we have a solution.

[2017-10-10 16:02] davemg3 commented on #66
Oh...it something i need to clean indeed (it was there since a while cause i wanted to adapt a MessagingEndpoint sample class which use it at the beginning)...could be a cause?

I removed it and now i passed from 1 file to 2 files uploaded on GAE but still a lot of skipped WEB-INF/lib .jar
[deployed 17.58.52.113000.log](https://github.com/GoogleCloudPlatform/endpoints-framework-gradle-plugin/files

[2017-10-10 16:37] patflynn commented on #66
@DaveMG3 I think the skipped lib libraries at deployment is normal. It just means they've already been uploaded and so we don't do it again.  If you deploy to a new project you should see them all go up.

I'm wondering if your config is just slightly wrong somewhere.  For instance using Objectify I wouldn't expect to be using the EntityManagerFactory.  I have an [example app](https://github.com/pa

[2017-10-10 16:49] loosebazooka commented on #52
Right, I'm working on a test project to inspect the buildscript classpaths.

[2017-10-10 17:24] davemg3 commented on #66
Sorry I was not clear...my code on server is 29% endpoint with JPA,  70% servlet with datastore/entity (progressively giving up endpoints) and there was this 1% code unsused with Objectify. In previous post , i tried with removing the code with Objectify but still failure...

This time i deleted the instance of GAE and deployed another incremented version : in this case you still think it should b

[2017-10-10 17:28] patflynn commented on #66
It does appear to me that your issue is not related to endpoints but
instead to the migration away from the appengine-gradle-plugin which does
datanucleus enhancement by defautl.

In my example app I also have a JDO based backend migrated to do
enhancement separately.
https://github.com/patflynn/appengine-potpourri/blob/cloud-sdk-refactor/jdo-backend/build.gradle

On Tue, Oct 10, 2017 at 1:24 PM,

[2017-10-10 17:32] loosebazooka commented on #52
@jirungaray can you provide the output of the buildscript dependencies for your project that does **not** compile. I'm having trouble recreating this issue even after adding in the firebase stuff.

add this task to your buildfile on the `backend` project.
[code]
then run `./gradlew buildscriptDeps`

[2017-10-10 17:43] davemg3 commented on #66
Ok i need to understand your gradle indeed...cause i feel it doest look like you migrated as per instructions : https://cloud.google.com/endpoints/docs/frameworks/legacy/v1/java/migrating.
Is there a half way? i.e implement all com.google.cloud.tools:appengine-gradle-plugin:1.3.2 related but not the com.google.cloud.tools:endpoints-framework-gradle-plugin:1.0.0 related stuff. I am kind of stuck, i

[2017-10-10 18:09] jirungaray commented on #52
@loosebazooka  here you go
[code]

Another weird thing I noticed is that the first time after cleaning the error is different:
[code]

This only happens on the first run after restart/clean

[2017-10-10 18:18] loosebazooka commented on #48
@tangiel any ideas? @gbhall is this still an issue?

[2017-10-10 19:29] patflynn commented on #66
The difference is that this isn't for an Android Studio project so I don't
generate the discovery doc at build time.  The server module doesn't
require the endpoints-framework plugin to run. The endpoints-framework
plugin should not effect your server runtime.

On Tue, Oct 10, 2017 at 1:43 PM, DaveMG3 <notifications@github.com> wrote:

[2017-10-10 19:32] patflynn commented on #66
@DaveMG3 Did you try the suggestion from the stacktrace to include Hibernate Validator on the classpath?

[2017-10-10 21:30] loosebazooka commented on #52
So the issue appears to be a manifestation of this : https://discuss.gradle.org/t/version-is-root-build-gradle-buildscript-is-overriding-subproject-buildscript-dependency-versions/20746

And you are right about the `firebase-plugins:1.1.1` clashing with endpoints.

And the suggestion on that bug is to add all buildscript dependencies in the root. So just move everything from backend/build.gradle/b

[2017-10-11 03:53] gbhall commented on #48
@loosebazooka Still unresolved as far as I know.

[2017-10-11 10:21] davemg3 commented on #66
compile group: 'org.hibernate', name: 'hibernate-validator', version: '6.0.2.Final' gives me an exception on console and i cannot deploy `Caused by: com.google.cloud.tools.appengine.api.AppEngineException: Non zero exit: 1
	at com.google.cloud.tools.appengine.cloudsdk.process.NonZeroExceptionExitListener.onExit(NonZeroExceptionExitListener.java:30)`

compile group: 'org.hibernate', name: 'hibernat

[2017-10-11 13:56] patflynn commented on #66
@DaveMG3 assuming none of those lib files have changed it seems normal to me.  You can verify by deploying to a new GCP project. You should see all the files being uploaded.

For your ClassNotResolvedException you may want to check out this link: https://stackoverflow.com/questions/15297363/google-app-engine-1-7-5-org-datanucleus-exceptions-classnotresolvedexception

Hopefully it'll help.  I highl

[2017-10-11 14:17] davemg3 commented on #66
Thank you for the link . I tried the solution disabling the auto scanning of entities and explicitly telling which classes to load while building PersistenceUnit will not help for me but i sends me back to previous message (before manual setting of JPA in gradle):

`org.datanucleus.metadata.MetaDataManager initialiseFileMetaDataForUse: Found Meta-Data for class com.example.app.Contact but this cla

[2017-10-11 19:21] tangiel commented on #48
It's a frameworks issue, I will work on a fix.

[2017-10-12 02:06] gbhall commented on #48
Cheers Daniel.

On Thu, Oct 12, 2017, 3:21 AM Daniel T <notifications@github.com> wrote:

[2017-10-12 15:37] davemg3 commented on #66
Last question about your advice ; is there a reason no docs on Android Client+call to endpoints+endpoints+Objectify (to replace the JPA/JDO way)? For web app yes but not even a statement about integration with Android

[2017-10-12 17:00] patflynn commented on #66
Objectify vs JPA/JDO should be orthogonal to Android+Endpoints.

We do have some documentation of using the new Endpoints Framework
libraries with Android here:
https://github.com/GoogleCloudPlatform/endpoints-framework-gradle-plugin/blob/master/ANDROID_README.md

On Thu, Oct 12, 2017 at 11:37 AM, DaveMG3 <notifications@github.com> wrote:

[2017-10-13 19:04] lesv commented on #20
Actually - sending doc requests to me won't help you.  Can you engage Jimmy on all this stuff?

[2017-10-13 20:28] frankyn commented on #20
~~@loosebazooka  I'm confused, this plugin supports OpenAPI spec generation which is part of EP frameworks v2. I received confirmation for using this plugin with V2 samples. Is this incorrect?~~

This was posted back on January 18, I missed that. Please ignore my comment.

[2017-10-14 14:12] jirungaray commented on #52
@loosebazooka could moving this dependencies to the root project have unintended confir issues with the monitoring API?
I'm getting a warning

Which i'm guessing is the cause for this error:

I'm not able to start a dev server (fails in prod as well) and the only recommendations i found so far were to comment out the Monitoring stuff, which I very much would like to avoid.

[2017-10-16 11:15] Rafiqgithub commented on #45
Thanks lot for clear solution helped lot.

[2017-10-16 12:12] davemg3 commented on #66
Hi.
For those passing by, I didnt find the source of discussed Error with JPA/JDOand migrated successfully to FrameWork V2 with Objectivity and servlet so the topic can be close. Thanks for help
For now my endpoints of new backend send to Client : `com.google.api.client.googleapis.json.GoogleJsonResponseException: 404 Not Found`
and Api Explorer  `https://apis-explorer.appspot.com/apis-explorer/`

[2017-10-16 14:02] patflynn commented on #66
@frankyn

[2017-10-17 19:12] loosebazooka commented on #52
Oh that's kind of weird. Lemme poke around in a sample, maybe the appengine plugin is not playing well? Are you applying the plugins in the root? Or only in the backend module?

[2017-10-17 23:08] tangiel commented on #48
Fix is in PR: https://github.com/cloudendpoints/endpoints-java/pull/113

[2017-10-20 23:52] tangiel commented on #48
Frameworks 2.0.9 is being released to Maven now. This should fix your issue, but let me know if it doesn't. Also, please file against https://github.com/cloudendpoints/endpoints-java if it doesn't.

[2017-10-20 23:52] #48 closed

[2017-10-23 15:20] loosebazooka commented on #48
@gbhall you can test this by explicitly applying the dependency in the buildscript classpath

[code]

[2017-10-26 20:25] frankyn commented on #66
@patflynn, I didn't understand the request of what should be updated.

[2017-10-26 20:28] patflynn commented on #66
@frankyn nothing specifically. Just was an FYI that @DaveMG3 seems to be seeing serving errors when trying to follow the docs.

[2017-10-27 21:27] loosebazooka opened #68 "Add kokoro config."
Build/release this project with kokoro.

[2017-10-30 13:48] DavidEdwards commented on #52
I also had this problem for the last month. Moving the buildscript dependencies worked.

My original Stack Overflow question: https://stackoverflow.com/questions/46155618/google-api-client-linking-wrong-version-of-jackson-core

I will link there to this issue report as a possible fix. For others that might have an issue.

[2017-10-30 20:07] #68 closed

[2017-11-11 10:57] Aardvarklord opened #73 "Plugin not compatible with "gcloud service-management deploy...""
Steps to reproduce:

1. Add `apiKeyRequired = AnnotationBoolean.TRUE` to the endpoints API
2. Use the plugin to generate the openapi.json file
3. Deploy the API by running `gcloud service-management deploy .\build\endpointsOpenApiDocs\openapi.json`

Warnings like this are shown:
_WARNING: openapi.json: Operation 'put' in path 'XXXXXXXXX': Operation does not require an API key; callers may invoke t

[2017-11-11 11:17] loosebazooka commented on #73
@tangiel

[2017-11-13 07:42] Burtan opened #74 "Client generation from discovery docs fails with AS3.0"
Hi,

I've got a project which built just fine with AS2.3. Now I've updated to AS3.0 and I'm getting an error when generating the endpoints client library from a discovery file.

`Error:(3634, 20) The method setBatchPath(String) of type MyApi.Builder must override or implement a supertype method`
`Error:(3635, 30) The method setBatchPath(String) is undefined for the type AbstractGoogleJsonClient.Bu

[2017-11-13 18:01] loosebazooka commented on #74
I think you might need to update your google client library dependency to 1.23.0 in your android app.

[2017-11-14 23:14] loosebazooka commented on #74
@Burtan any updates?

[2017-11-14 23:18] loosebazooka commented on #52
@jirungaray can you try with the latest release, I believe the working directory warning has been fixed.

[2017-11-15 05:42] Burtan commented on #74
Updating the client lib helped 👍🏻. Thanks!

[2017-11-15 05:42] #74 closed

[2017-12-05 18:54] loosebazooka opened #75 "Clean up deprecated use of "classes""
[code]

[2017-12-05 18:55] tangiel commented on #66
@DaveMG3 have you tried deploying to a new App Engine version? If you're seeing an old list of Endpoints, this could be a [known issue](https://cloud.google.com/endpoints/docs/known-issues).

[2017-12-05 19:01] tangiel commented on #73
@Aardvarklord please file a bug at https://github.com/cloudendpoints/endpoints-java.

[2017-12-06 10:54] davemg3 commented on #66
Hello @tangiel ,
It seems my exception launched on app engine was due to some endpoint classes (my last  implementation was using Framework V2, objectify and servlets/endpoints) written as below ;

Not working :
`   @ApiMethod(
           name = "getContact",
            path = "getContact/{chatId}",  //putting chatId in path causes the endpoint didnt work
           httpMethod = ApiMethod.HttpMet

[2017-12-06 10:54] #66 closed

[2017-12-10 11:43] Aardvarklord commented on #73
Done, thanks.

[2017-12-10 11:43] #73 closed

[2018-01-03 19:42] loosebazooka opened #78 "update to 2.0.10 tool version"

[2018-01-03 19:42] loosebazooka commented on #75
fixed by #77

[2018-01-03 19:42] #75 closed

[2018-01-03 20:31] #78 closed

[2018-06-04 09:19] karim-fc opened #84 "Generated openapi.json doesn't have a type with enums"
When creating a openapi.json by `gradle endpointsOpenApiDocs`, all the enums have no type in the json. Clients who want to generate client code are getting issues with that.

In the specification it is also described as such:
https://swagger.io/docs/specification/2-0/enums/

[2018-06-04 19:17] loosebazooka commented on #84
@tangiel this appears to be a core library issue?

[2018-06-04 19:26] tangiel commented on #84
Can you show a fragment of what you're seeing?

[2018-06-11 09:43] karim-fc commented on #84
java:
[code]
openapi.json:
[code]

The client is using a java swagger parser to generate the endpoint clients. It fails to generate the code, until they edit the openapi.json file themselves and add "type": "string" to the enum definition:

[code]

[2018-06-14 21:29] tangiel commented on #84
https://github.com/cloudendpoints/endpoints-java/pull/149 should fix this.

[2018-08-07 19:02] mayur-patil opened #86 "Could not find any convention object of type WarPluginConvention."
When trying to use `endpoints-framework-gradle-plugin` I am getting `java.lang.IllegalStateException: Could not find any convention object of type WarPluginConvention.`  I tried with two different versions `1.0.2` and `2.0.0`

[2018-09-23 12:01] Burtan commented on #20
I still don't get this. Cloud Endpoints Framework 2.0 for AppEngine Standard stills seems to depend on this plugin and therefore it is not only for legacy users?

[2018-09-24 14:21] patflynn commented on #20
@Burtan.  The quote is a little misleadiing/inaccurate because it conflates the framework with v1.

This plugin supports the Java endpoints framework users that migrate to V2.  So the plugin does support Endpoints V2 users that are using the Java endpoints framework.

[2018-09-25 14:09] Burtan commented on #20
As far as I understand the docs, the only way to use endpoints v2 on standard app engine is this plugin. Thus for new development, standard app engine is not recomended anymore? Is compute engine the only way to go?

[2018-09-25 16:14] patflynn commented on #20
@Burtan standard app engine is definitely recommended for new development!  I believe @loosebazooka was referring to the endpoints-framework when he suggested not using it for new development.  I believe the endpoints-framework is still supported but I am not certain to what extent it will be in the future.

[2018-09-25 16:32] loosebazooka commented on #20
perhaps @tangiel might have some more info?

[2018-09-25 17:18] tangiel commented on #20
@Burtan strictly speaking, this plugin is not necessary for anything. It is mostly a build-system-friendly plugin that provides tasks that the Endpoints framework tool exposes. You can use the framework without the plugin, it's just not recommended. If your goal is to take advantage of the Endpoints console in Cloud Console, then the framework (and this plugin, if you desire) are currently your on

[2018-10-10 06:16] uny opened #87 "Kotlin support for server-side"
If a server-side gradle project, which means the project with `com.google.cloud.tools.endpoints-framework-server` gradle plugin, only has Kotlin source files, appengineRun will complain that
[code]
Creating a dummy Java class is a workaround.

[2018-10-10 14:57] loosebazooka commented on #86
Have you applied the `war` plugin?

[2018-10-10 14:57] #84 closed

[2018-10-10 14:58] #62 closed

[2018-10-10 14:58] #52 closed

[2018-10-10 15:01] loosebazooka commented on #87
Looks like you might be using an older version of the plugin? Can you confirm what version of endpoints-framework-server you are using?

[2018-10-10 23:46] uny commented on #87
I was careless.
I followed this [tutorial](https://cloud.google.com/endpoints/docs/frameworks/java/set-up-environment), and used v1.0.2.
`classpath 'com.google.cloud.tools:endpoints-framework-gradle-plugin:1.0.2'`
Updating to v2.0.0 solves the problem.
Thank you for your help.

[2018-10-10 23:46] #87 closed

[2018-10-15 18:48] Burtan opened #88 "Feature request: native kotlin library"
Hi,
please consider the option to generate a kotlin library that takes advantage of its optionals. Thanks!

[2018-11-30 16:42] peassuncao opened #89 "local appengine, on android client use http instead of https"
Hi,

Is it possible to use http instead of https.

I mean the file created for the android, *endpoint
to have a:

`public static final String DEFAULT_ROOT_URL = "**http**://192.168.0.101:8888/_ah/api/";`

instead of:

`public static final String DEFAULT_ROOT_URL = "**https**://192.168.0.101:8888/_ah/api/";`

i am having the following problem when running appengine locally and calling an endpoint f

[2018-11-30 17:07] loosebazooka commented on #89
I think you can set the root if you want from the generated clients. But you might also need to do some other stuff. Here's a sample from some old docs:

[code]

[2018-11-30 17:16] peassuncao commented on #89
Thanks, this is it!

[2018-11-30 17:20] loosebazooka commented on #89
Really though, if you're creating a new application, I wouldn't recommend using this tooling.

[2018-11-30 17:33] peassuncao commented on #89
It´s an old one. You mean the endpoint stuff? What would be better today, for java + appengine + android?

[2019-02-17 18:09] Burtan opened #94 "Make it compatible with the JPMS"
The generated library does not include any module-info.java file.

[2019-02-17 18:21] loosebazooka commented on #94
Can you file this against: https://github.com/cloudendpoints/endpoints-tools

[2019-03-15 12:09] nareshk-gs opened #95 "Failed to apply plugin"
I am on Idea 2018.3.5 and gradle 5.2.1. Below is my repo.

https://github.com/nareshk-gs/homedemo

When I run command `gradle clean` I see below error.

[code]

[2019-07-23 07:08] peterfortuin opened #97 "Couldn't follow symbolic link."
I have a problem in my project after creating symbolic links. For purposes non related to anything with the endpoint-framework-gradle-plugin, I have created a symbolic link inside the src/main/webapp folder of my project. After I do that I get the following error:

[code]

I don't understand why the plugin can't open that directory and I don't understand why it's searching for something inside the

[2019-07-23 14:05] loosebazooka commented on #97
can you provide the stack trace so we can know if it's an issue with the plugin or with the core library: https://github.com/endpoints/endpoints

run gradle with option `--stacktrace`

[2019-07-23 19:11] peterfortuin commented on #97
[code]

[2019-07-23 20:13] loosebazooka commented on #97
It looks like this is from gradle, I don't know if upgrading your gradle version will fix this. Also can you run it with `--full-stacktrace` so we can see what's triggering it from the endpoints plugin?

[2019-07-23 20:20] loosebazooka commented on #97
Okay I went and dug around a little, in the end the endpoints framework requires the webapp dir (https://github.com/GoogleCloudPlatform/endpoints-framework-gradle-plugin/blob/master/src/main/java/com/google/cloud/tools/gradle/endpoints/framework/server/task/EndpointsArtifactTask.java#L187) for generating  artifacts and we consider that an input (https://github.com/GoogleCloudPlatform/endpoints-fra

[2019-07-24 08:14] peterfortuin commented on #97
With --full-stacktrace (but I don't think there is any big difference that is useful)

[code]

[2019-07-24 08:26] peterfortuin commented on #97
gradle/gradle#9985 maybe related, but for me all symbolic links are valid. I can see the content inside.

[2019-07-24 08:29] peterfortuin commented on #97
I was already on Gradle 5.5. I upgraded to 5.5.1 (which seems to be the latest version of Gradle at this moment), but that didn't resolve the issue.

[2019-07-24 15:33] loosebazooka commented on #97
Right, in their bug it says it was fixed like 6 days ago or something? You might have to try their nightly builds.

[2019-07-24 20:32] peterfortuin commented on #97
I tried the lasted nightly (5.7-20190724132422+0000) and it seems that my problem is gone.
Thanks for helping me out (beside the fact that the issue was not in your plugin). You are doing an awesome job!

[2019-07-24 20:32] #97 closed

[2019-10-15 13:24] m121212 opened #98 "Failed to generate client library: 500 Internal Server Error"
When doing: gradle endpointsClientLibs

Execution failed for task ':app:_endpointsClientLibs'.

[2019-10-15 13:53] spuniani commented on #98
This is a blocking issue - we can't proceed. How do we bump this up?

What I've tried
- tried with the echo api sample - same result
- tried with endpoints-framework-tools-2.2.1 standalone - same result

the problem seems to be in the call to "https://google-api-client-libraries.appspot.com/generate" - this returns a 500 Internal Server Error - but no idea why.

**stacktrace**
`
 Exception is:
org

[2019-10-15 14:33] peterfortuin commented on #98
Same problem here. Just started to get the 500 Internal Server Error without any reason. Reverted all my own work and tested out old versions of my own code, always get the 500 Internal Server Error.

[2019-10-15 14:38] m121212 commented on #98
Tried all the way aroud. From :
- echo api
- gradle wrapper
- gradle downloaded locally

All components are up-to-date:
com.google.guava:guava:28.1-jre
com.android.tools.build:gradle:3.5.1
com.google.cloud.tools:endpoints-framework-gradle-plugin:2.0.1
com.google.endpoints:endpoints-framework:2.2.1
com.google.http-client:google-http-client:1.32.1
com.google.api-client:google-api-client:1.30.4

This

[2019-10-15 14:51] m121212 commented on #98
Did anyone find a solution?

[2019-10-15 14:53] loosebazooka commented on #98
Sorry, I'll escalate this internally. @tangiel

I'll update this bug as I learn more.

[2019-10-15 14:57] m121212 commented on #98
Here's the info from the generate request:

-------------- REQUEST  --------------
POST https://google-api-client-libraries.appspot.com/generate
Accept-Encoding: gzip
User-Agent: Google-HTTP-Java-Client/1.25.0 (gzip)
Content-Type: multipart/form-data; boundary=----GoogleApisClientBoundary1571151312395
Content-Length: 68566

curl -v --compressed -X POST -H 'Accept-Encoding: gzip' -H 'User-Agent: Go

[2019-10-15 16:11] m121212 commented on #98
Any news on this?

[2019-10-15 16:22] GuyDviri commented on #98
Execution failed for task ':*ClientLibs'.

what's going on .stack for few hours ,any one with friends at google?

[2019-10-15 16:51] m121212 commented on #98
I have also opened the issue here (https://github.com/cloudendpoints/endpoints-java/issues/183) where the problem occurs.

[2019-10-15 17:25] chingor13 commented on #98
We are rolling back the bad config change, sorry folks.

[2019-10-15 17:27] GuyDviri commented on #98
thanks . when it will be alive?

On Tue, Oct 15, 2019 at 8:25 PM Jeff Ching <notifications@github.com> wrote:

[2019-10-15 17:36] chingor13 commented on #98
The rollback should be complete.

[2019-10-15 17:58] loosebazooka commented on #98
@GuyDviri @m121212 @spuniani @peterfortuin can you verify the service is up again?

[2019-10-15 18:24] m121212 commented on #98
It works!

[2019-10-15 18:25] GuyDviri commented on #98
yes, it's working now thanks you.

On Tue, Oct 15, 2019 at 8:58 PM Appu <notifications@github.com> wrote:

[2019-10-15 18:26] loosebazooka commented on #98
Thanks for verifying, we're updating our internal deployment process to prevent this kind of failure in the future. Closing for now.

[2019-10-15 18:26] #98 closed

[2019-10-15 21:31] peterfortuin commented on #98
Yes, it works!

[2020-02-23 19:41] amarkovits commented on #98
I have the same problem:

com.google.api.client.http.HttpResponseException: 500 Internal Server Error
  {"error": {"message": "Internal Server Error", "code": 500, "errors": [{"message": "unknown exception", "debug_info": "Neither servicePath nor rpcPath is defined."}]}}

[2020-12-02 20:03] peterfortuin commented on #98
It seems that the problem is back:

[code]

[2020-12-02 20:09] loosebazooka commented on #98
@peterfortuin is this happening on a regular basis (every build)? or just sometimes?

I received an update from @chingor13 that it should be working and was a temporary issue with serving infrastructure.

[2020-12-02 21:26] peterfortuin commented on #98
It was around 90% of the time failing. But I tested it again and it seems to be working fine.
So, thanks for resolving it!

[2021-01-21 08:50] cmaan commented on #98
@loosebazooka It's a little bit different (read timeouts instead of internal server errors), but we're having issues with this cloud service again (has been down for us since yesterday):
[code]

[2021-01-21 14:25] loosebazooka commented on #98
@chingor13 any ideas?

[2021-01-21 19:17] loosebazooka commented on #98
@cmaan, are you still experiencing this?

[2021-01-21 20:35] cmaan commented on #98
Yes, although looking at it closely, it seems the problem depends on the size of the discovery document. When commenting out endpoints, the task succeeds.

[2021-01-22 15:21] cmaan opened #99 "Failed to generate client library: Read time-outs"
We get read time outs when trying to generate our client libraries using `gradle endpointsClientLib`.
[code]
When cutting down on the number of endpoints, the generation sometimes succeeds. Our discovery doc size is 352K.

We believe that the generation is hitting the Appengine request duration limit of 60 sec. Locally (using `https://github.com/google/apis-client-generator/`), the generation take

[2021-01-22 15:22] cmaan commented on #98
I created a separate issue for this: #99

[2021-06-04 20:25] JolietJake opened #106 "500 Internal server error building clientLibs from cloudtools endpoints framework maven"
I'm building endpoints for an appengine standard server with google cloud tools.  I'm able to generate openapidocs, Discoverydocs, but when I try and generate clientLibs with --- endpoints-framework-maven-plugin:2.0.1:clientLibs (default-cli) @ mobile ---
[INFO] Endpoints Tool params : [get-client-lib, -o, C:\Users\steve.......:

I get:

ints Tool Error: 500 Internal Server Error
[ERROR] {"error":

[2021-06-07 16:13] elharo commented on #106
@tangiel @chingor13 did the config change again?

[2021-06-07 18:07] chingor13 commented on #106
Nothing has changed on the server side for quite some time. This is a separate error. Can you see if the discovery doc being pushed to the library generation endpoint has the `servicePath` or `rpcPath` fields defined?

[2021-06-07 21:29] JolietJake commented on #106
I checked the endpoints

"servicePath": "webholesendpoint/v2/",

"version": "v2"

}

All the ones I added were fine.  However, the default skeleton one which the template created – MyFirstAPI.java, which I had left in there, did not have a servicePath.  It was <null>, no default apparently.  I deleted it from the java directory and removed it from the web.xml.

The clientLibs then built!  Thank yo

[2021-06-08 11:45] #106 closed

[2021-07-02 18:24] TWiStErRob opened #107 "Gradle 7 compatibility: AbstractArchiveTask.archiveName property has been deprecated (and removed in 7)"
https://github.com/GoogleCloudPlatform/endpoints-framework-gradle-plugin/blob/d92d11dee96ccc191e0bba316b733b4caf6a601a/src/main/java/com/google/cloud/tools/gradle/endpoints/framework/server/EndpointsServerPlugin.java#L117

<details>
<summary>Click for more
<blockquote>
The AbstractArchiveTask.archiveName property has been deprecated. This is scheduled to be removed in Gradle 7.0. Please use the ar

[2021-07-02 20:21] suztomo commented on #107
I'm checking whether I can build this project with the newer version of the Gradle. I see it's set to 4.9 at gradle/wrapper/gradle-wrapper.properties.

[2021-07-07 14:36] suztomo commented on #107
Now the Gradle version is 6.9 is master.

With the following configuration in the build.gradle:

[code]

It shows the error below as mentioned in the issue.

[code]

I'm fixing this deprecated method usage.

[2021-07-19 15:57] #107 closed

[2021-07-19 15:58] suztomo commented on #107
@TWiStErRob The PR has been merged to master. Now the master branch should work with Gradle 7. Would you confirm it by building the project?

[2022-08-04 18:32] #20 closed

[2022-08-08 13:52] JoeWang1127 commented on #95
close as not planned

[2022-08-08 13:52] #95 closed

[2022-08-08 13:53] JoeWang1127 commented on #94
close as not planned

[2022-08-08 13:53] #94 closed

[2022-08-08 13:54] JoeWang1127 commented on #89
close as not planned

[2022-08-08 13:54] #89 closed

[2022-08-08 13:55] JoeWang1127 commented on #86
close as not planned

[2022-08-08 13:55] #86 closed

[2022-08-08 18:56] #46 closed

[2022-08-08 18:59] #64 closed

[2022-08-08 19:01] #88 closed

[2022-08-08 19:01] #59 closed

[2022-09-13 18:16] waterdrake opened #110 "Execution failed for task ':backend:endpointsClientLibs' when increasing com.android.tools.build:gradle version"
I get this error when I try to upgrade my project level gradle from `'com.android.tools.build:gradle:7.0.4'` to `'com.android.tools.build:gradle:7.2.2'` (Or anything higher than 7.0.4 in general):

    Unable to find method ''java.lang.reflect.Type com.fasterxml.jackson.databind.introspect.AnnotatedField.getGenericType()''
    'java.lang.reflect.Type com.fasterxml.jackson.databind.introspect.Annot

[2022-09-14 16:37] zhumin8 commented on #110
The issue sounds to be a mismatch between the jackson library being called the the one brought in.
The 2 issues might help with troubleshooting: [45](https://github.com/GoogleCloudPlatform/endpoints-framework-gradle-plugin/issues/45) or [52](https://github.com/GoogleCloudPlatform/endpoints-framework-gradle-plugin/issues/52)

[2022-09-15 02:18] waterdrake commented on #110
@zhumin8 The links you posted are a bit old and are from Endpoints V1. I am on Endpoints Version 2.